<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h3> Administrator </h3>
		<a class='btn btn-danger' href='/home'>Logout</a>
	</div>
	
	<h4>Welcome Administrator !!!</h4>

</div>

<%- include ('templates/footer'); -%>