<!--<!DOCTYPE html>-->


<!--center:{lat: 36.664763,lng:-121.671253}  -->
<!DOCTYPE html>
<html>
  <head>
    <title>Armory Location</title>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 700px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       h3 {
         padding-top: 8px;
       }
    </style>
  </head>
  <body>
    <h3>The location of our Armory is Ambrose Dr.</h3>
    <a href= "/">Home</a>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat:  36.664763, lng: -121.671253};
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 11, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
}
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9M-eT2YMk7iQ6-U5yEOKeLIxUo0USwJ8&callback=initMap">
    </script>
  </body>
</html>